.notfound-bg-dark {
  background-color: #0f0f0f;
  background-size: cover;
  color: #ffffff;
}
.notfound-bg-light {
  background-color: #f9f9f9;
  background-size: cover;
}
.not-found-bg {
  height: 100vh;
  background-size: cover;
}
.notfound-img {
  width: 80%;
}
.dark-view {
  padding: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .notfound-sm {
    padding: 20px;
    text-align: center;
    display: block;
  }
  .notfound-lg {
    display: none;
  }
}
@media (min-width: 768px) {
}
