.saved-bg-dark {
  background-color: #0f0f0f;
  background-size: cover;
  color: #ffffff;
  width: 100%;
}
.saved-bg-light {
  background-color: #f9f9f9;
  background-size: cover;
  width: 100%;
}
.fire-icon {
  color: red;
  font-size: 30px;
}
.fire-icon-container {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  background-color: #d7dfe9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.fire-icon-container-dark {
  height: 50px;
  width: 50px;
  border-radius: 40px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.trending-title {
  display: flex;
  align-items: center;
  background-color: #ebebeb;
  padding-left: 20px;
}
.trending-title-dark {
  display: flex;
  align-items: center;
  background-color: #212121;
  padding-left: 20px;
}

.trending-videos {
  list-style-type: none;
}
.esm-view {
  width: 100%;
}
@media (max-width: 768px) {
  .saved-sm {
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .saved-sm {
    display: block;
    width: 100%;
  }
}
