.home-ul-video-card {
  list-style-type: none;
}

.search-button {
  background-color: transparent;
  border-style: none;
}
.get-it-button {
  width: 100px;
  height: 40px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  color: #475569;
  font-weight: bold;
  margin-left: 20px;
}
.retry-button {
  width: 80px;
  height: 40px;
  background-color: #4f46e5;
  border-width: 0;
  border-radius: 5px;
  color: #ffffff;
}
.empty-container {
  text-align: center;
  color: #ffffff;
  padding: 20px;
}
.empty-image {
  width: 50%;
}
.empty-heading {
  font-size: 20px;
}
.close-banner-button {
  background-color: transparent;
  border-style: none;
}
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.banner-content {
  display: flex;
  flex-direction: column;
}

@media (max-width: 576px) {
  .home-channel-logo-sm {
    width: 200px;
  }
  .description-sm {
    font-size: 25px;
    color: #475569;
    font-weight: 400;
  }
  .channel-logo-close-btn-container {
    display: flex;
    justify-content: space-between;
  }
  .close-button {
    font-size: 40px;
  }

  .main-search-container-md {
    display: none;
  }
  .main-search-container {
    display: flex;
    margin-bottom: 20px;
  }

  .input {
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 100%;
    color: #424242;
  }
  .input-container {
    height: 40px;
    width: 80%;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-container {
    height: 40px;
    width: 20%;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-icon {
    font-size: 20px;
    color: #424242;
  }

  .videos-container {
    list-style-type: none;
  }
  .slider-container {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .home-channel-logo-sm {
    width: 250px;
  }
  .description-sm {
    font-size: 25px;
    color: #475569;
    font-weight: 400;
    width: 50%;
  }
  .channel-logo-close-btn-container {
    display: flex;
    justify-content: space-between;
  }
  .close-button {
    font-size: 40px;
  }

  .main-search-container-md {
    display: none;
  }
  .main-search-container {
    display: flex;
    padding: 20px;
    margin-bottom: 40px;
  }

  .input {
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 100%;
  }
  .input-container {
    height: 40px;
    width: 60%;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-container {
    height: 40px;
    width: 20%;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-icon {
    font-size: 20px;
    color: #424242;
  }
  .videos-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }

  .slider-container {
    display: none;
  }

  .slider-container.show {
    display: block;
  }
}

@media (min-width: 768px) {
  .home-channel-logo-sm {
    width: 200px;
  }
  .description-sm {
    font-size: 20px;
    color: #475569;
    font-weight: 400;
  }
  .channel-logo-close-btn-container {
    display: flex;
    justify-content: space-between;
  }
  .close-button {
    font-size: 40px;
  }

  .main-search-container {
    display: flex;
    margin-bottom: 20px;
  }

  .input {
    background-color: transparent;
    border-style: none;
    outline: none;
    width: 100%;
    color: #424242;
  }
  .input-container {
    height: 40px;
    width: 400px;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .search-container {
    height: 40px;
    width: 20%;
    border-style: solid;
    border-color: #94a3b8;
    border-width: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .search-icon {
    font-size: 20px;
    color: #424242;
  }

  .home-view {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .videos-container {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
  }
  .slider-container {
    display: block;
  }
  .flex-container {
    display: flex;
  }
}
